<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>TuneD</vendor>
  <vendor_url>https://tuned-project.org/</vendor_url>
  <icon_name>tuned</icon_name>

  <action id="com.redhat.tuned.active_profile">
    <description>Show active profile</description>
    <message>Authentication is required to show active profile</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.profile_mode">
    <description>Show current profile selection mode</description>
    <message>Authentication is required to show current profile selection mode</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.post_loaded_profile">
    <description>Show active post-loaded profile</description>
    <message>Authentication is required to show active post-loaded profile</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.disable">
    <description>Disable TuneD</description>
    <message>Authentication is required to disable TuneD</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.is_running">
    <description>Check whether TuneD is running</description>
    <message>Authentication is required to check whether TuneD is running</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.profile_info">
    <description>Show information about TuneD profile</description>
    <message>Authentication is required to show information about TuneD profile</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.profiles">
    <description>List TuneD profiles</description>
    <message>Authentication is required to list TuneD profiles</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.profiles2">
    <description>List TuneD profiles</description>
    <message>Authentication is required to list TuneD profiles</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.recommend_profile">
    <description>Show TuneD profile name which is recommended for your system</description>
    <message>Authentication is required to show recommended profile name</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.reload">
    <description>Reload TuneD configuration</description>
    <message>Authentication is required to reload TuneD configuration</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.start">
    <description>Start TuneD daemon</description>
    <message>Authentication is required to start TuneD daemon</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.stop">
    <description>Stop TuneD daemon</description>
    <message>Authentication is required to stop TuneD daemon</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.switch_profile">
    <description>Switch TuneD profile</description>
    <message>Authentication is required to switch TuneD profile</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.log_capture_start">
    <description>Start log capture</description>
    <message>Authentication is required to start log capture</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.log_capture_finish">
    <description>Stop log capture and return captured log</description>
    <message>Authentication is required to stop log capture</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.auto_profile">
    <description>Enable automatic profile selection mode</description>
    <message>Authentication is required to change profile selection mode</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.verify_profile">
    <description>Verify TuneD profile</description>
    <message>Authentication is required to verify TuneD profile</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.verify_profile_ignore_missing">
    <description>Verify TuneD profile, ignore missing values</description>
    <message>Authentication is required to verify TuneD profile</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.get_all_plugins">
    <description>Get plugins which TuneD daemon can acces</description>
    <message>Authentication is required to get TuneD plugins</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.get_plugin_documentation">
    <description>Get documentation of TuneD plugin</description>
    <message>Authentication is required to get documentation of TuneD plugin</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.get_plugin_hints">
    <description>Get hints for parameters of TuneD plugin</description>
    <message>Authentication is required to get hints for parameters of TuneD plugin</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.instance_acquire_devices">
    <description>Acquire devices from other instances and assign them to the instance</description>
    <message>Authentication is required to get hints for parameters of TuneD plugin</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.get_instances">
    <description>Get list of active TuneD plugin instances</description>
    <message>Authentication is required to get list of active TuneD plugin instances</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.instance_get_devices">
    <description>Get list of devices assigned to the instance</description>
    <message>Authentication is required to get list of devices assigned to the instance</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.instance_create">
    <description>Create new plugin instance</description>
    <message>Authentication is required to create a new plugin instance</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.redhat.tuned.instance_destroy">
    <description>Delete a plugin instance</description>
    <message>Authentication is required to destroy the instance</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>
