/* Embedded Overpass fonts: regular, italic, bold, and bold italic */
@font-face {
  font-family: 'overpass';
  src: url('fonts/overpass-regular.woff2') format('woff2');
       font-weight: 500;
       font-style: normal;
}
@font-face {
  font-family: 'overpass';
  src: url('fonts/overpass-italic.woff2') format('woff2');
       font-weight: 500;
       font-style: italic;
}
@font-face {
  font-family: 'overpass';
  src: url('fonts/overpass-bold.woff2') format('woff2');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'overpass';
  src: url('fonts/overpass-bold-italic.woff2') format('woff2');
       font-weight: 700;
       font-style: italic;
}

/* Embedded Hack fonts: regular */
@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-regular.woff2') format('woff2');
       font-weight: 500;
       font-style: normal;
}
/* Uncomment the following if bold and italic styles of Hack are needed: */
/*
 * @font-face {
 *   font-family: 'Hack';
 *   src: url('fonts/hack-italic.woff2') format('woff2');
 *        font-weight: 500;
 *        font-style: italic;
 * }
 * @font-face {
 *   font-family: 'Hack';
 *   src: url('fonts/hack-bold.woff2') format('woff2');
 *        font-weight: 700;
 *        font-style: normal;
 * }
 * @font-face {
 *   font-family: 'Hack';
 *   src: url('fonts/hack-bolditalic.woff2') format('woff2');
 *        font-weight: 700;
 *        font-style: italic;
 *
 * }
 */

body {
    margin: 0px auto;
    max-width: 1124px;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
    font-family: 'Overpass', sans-serif;
    text-align: justify;
}

h1, h2, h3 {
    line-height: 1.2;
    color: #555;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:link {
    color: #009dbb;
}
a:visited {
    color: #36738a;
}

code {
    font-family: 'Hack';
    /* Hack has a larger x-height than Overpass; shrinking it to compensate */
    font-size: 95%;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
}

ul {
    /* Indent list elements both from the left and the right */
    padding: 0 50px;
}
