body {
    margin: 0px auto;
    max-width: 1124px;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
    font-family: 'Overpass', sans-serif;
}

h1, h2, h3 {
    line-height: 1.2;
    color: #555;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: #009dbb;
}

a:visited {
    color: #36738a;
}

