[Unit]
Description=Dynamic System Tuning Daemon
After=syslog.target systemd-sysctl.service network.target
Conflicts=cpupower.service

[Service]
Type=dbus
PIDFile=/run/tuned/tuned.pid
BusName=com.redhat.tuned
ExecStart=/usr/sbin/tuned -l -P

[Install]
WantedBy=multi-user.target
