[Desktop Entry]
Name=tuned-gui
GenericName=tuned
Comment=GTK GUI that can control Tuned daemon and provides simple profile editor
Exec=/usr/sbin/tuned-gui
Icon=tuned
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
Version=1.0
