[Unit]
Description=Dynamic System Tuning Daemon
After=syslog.target

[Service]
Type=forking
PIDFile=/run/tuned/tuned.pid
BusName=com.redhat.tuned
ExecStart=/usr/sbin/tuned -d

[Install]
WantedBy=multi-user.target
