SUBSYSTEM!="block", GOTO="end_mpath_iosched"
ENV{DEVTYPE}=="partition", GOTO="end_mpath_iosched"
KERNEL!="dm-*", GOTO="end_mpath_iosched"
ACTION!="change", GOTO="end_mpath_iosched"
ATTR{queue/scheduler}!="*\[cfq\]", GOTO="end_mpath_iosched"
ENV{DM_UUID}!="mpath-?*", GOTO="end_mpath_iosched"
ENV{DM_ACTION}=="PATH_FAILED", GOTO="end_mpath_iosched"
RUN+="tuned-mpath-iosched"
LABEL="end_mpath_iosched"
